body {
    width: 50%;
    margin: 0 auto;
    background-color: lightcyan;
    background-image: url('img.jpg');
  }

.container{
    max-width: 600px;
    margin: auto;
    padding: 0 1rem;
}

h1{
    text-align: center;
    font-size: 4rem;
    color:yellow;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}

.top{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

input{
    border: none;
    outline: none;
    width: 400px;
    padding: 0 0.5rem;
    border-bottom: 1px solid yellow;
}

.add{
    background-color: yellowgreen;
    color: #fff;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.item{
    position: relative;
    margin-top: 1rem;
    background-color:lightblue;
    color: red;
    padding: 1.5rem 3rem;
    border-radius: 5px;
}

.icons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    gap: 0.5rem;
}

i{
    cursor: pointer;
}